@use 'sass:math';
@use '../../lists/list';
@use '../../../00-base/functions/color' as *;
@use '../../../00-base/motion/motion' as *;
@use '../../../00-base/functions/rem-calc' as *;
@use '../../../00-base/utility/utility' as *;
@use '../../../00-base/spacing/spacing' as *;

$radio-size: rem-calc(22);

.form_item--radios {
  @include list.reset;
}

.form_item--radio__item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 rem-calc(11.2);

  input[type='radio'] {
    @include visually-hidden;
  }

  input[type='radio'] + label {
    margin: 0;
    width: 100%;

    &::before {
      @include transition;

      content: '';
      width: $radio-size;
      height: $radio-size;
      border-radius: 100vw;
      border: 2px solid clr(neutral);
      background-color: transparent;
      display: block;
      float: left;
      margin-right: math.div($radio-size, 2);
    }

    &::after {
      @include transition;

      content: '';
      border-radius: 100vw;
      background-color: clr(full-black);
      width: $radio-size;
      height: $radio-size;
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible;
      opacity: 0;
      transform: scale(0.4);
    }

    &:hover {
      &::before {
        border-color: clr(full-black);
      }

      &::after {
        opacity: 1;
        background-color: clr(neutral);
      }
    }
  }

  input[type='radio']:checked + label {
    &::before {
      border-color: clr(full-black);
    }

    &::after {
      opacity: 1;
      transform: scale(0.66);
    }
  }
}
