<li class="form_item--radio__item">
	<input id="radio{{ key }}" name="radio" type="radio" class="radio" {% if radio_item_checked %} checked="{{ radio_item_checked }}" {% endif %}>
	<label for="radio{{ key }}">
		{{ radio_item }}
	</label>
</li>
