@use '../../00-base/breakpoints/breakpoints' as *;
@use '../../00-base/functions/rem-calc' as *;
@use '../../00-base/functions/color' as *;
@use '../../00-base/motion/motion' as *;
@use '../../00-base/spacing/spacing' as *;

.logo {
  position: relative;

  :root {
    --sous-logo: #10404f;
    --sous-emulsify: #1a96ca;

    [data-color-mode="dark"] {
      --sous-logo: #fff;
    }
  }

  .sous__logo {
    color: var(--sous-logo);
  }

  .sous__emulsify {
    color: var(--sous-emulsify);
  }

  svg {
    display: block;
    max-width: rem-calc(195);
    height: auto;
  }
}

.logo--intro {
  max-width: rem-calc(360);
}

.logo--login {
  max-width: rem-calc(230);
  margin: space(4) auto space(2);

  .logo__link {
    display: block;
  }
}
