@use './main' as *;
@use '../../../00-base/breakpoints/breakpoints' as *;
@use '../../../00-base/functions/color' as *;
@use '../../../00-base/motion/motion' as *;
@use '../../../00-base/spacing/spacing' as *;

.main-nav__menu-list {
  display: flex;
  flex-flow: column nowrap;
  width: var(--content-width-wide);
  margin: space(1) auto 0;

  @include breakpoint('medium') {
    flex-flow: row nowrap;
    margin: 0;
    width: auto;
  }

  &:not(.main-nav__menu-list--sub) {
    display: none;

    @include breakpoint('medium') {
      display: flex;
    }

    .menu--open & {
      display: flex;
    }
  }

  .main-nav__menu-list-wrapper--level-1 & {
    flex-flow: column nowrap;
    margin: 0;
    border: 0;
  }
}
