@use '../../00-base/breakpoints/breakpoints' as *;
@use '../../00-base/functions/color' as *;
@use '../../00-base/spacing/spacing' as *;
@use '../../00-base/typography/typography' as *;
@use '../../01-atoms/lists/list';

.page-title {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  order: 1;

  @include breakpoint('medium') {
    padding-block: space(1) space(1.5);
  }

  > * {
    flex: 1 1 100%;
    order: 4;
    margin-bottom: 0;
  }

  ul {
    @include list.reset;

    display: flex;
    flex-flow: row wrap;
  }

  li {
    @include eyebrow;

    margin-inline: 0 space(1);

    &:not(:first-child) {
      list-style: disc;
      margin-inline: space(1);
      padding-inline: space(0.5);
    }
  }

  .h3 {
    display: flex;
    flex-flow: row wrap;
    line-height: $line-height-xloose;

    > *:first-child {
      flex: 1 1 100%;
    }
  }

  .button-smith {
    margin-block: space(1) 0;
    flex: 0 0 auto;
  }
}

.page-title__breadcrumbs {
  order: 0;
  margin-bottom: space(0.25);
}

.page-title__heading {
  @include h1;

  order: 1;
}

.page-title__eyebrow {
  order: 0;
}

.page-title__subheading {
  @include body-xl;

  order: 2;
}

.page-title__text {
  order: 3;
}

.page-title__image {
  order: 2;
  margin-top: space(2);
  width: 100%;

  @include breakpoint('medium') {
    order: 0;
    margin-top: 0;
    padding-right: space(4);
    width: auto;
  }

  &--large {
    order: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 0 space(2);

    @include breakpoint('medium') {
      width: 50%;
      justify-content: flex-end;
      margin-bottom: 0;
    }

    .image,
    img,
    picture {
      position: relative;
      width: 100vw;
      max-width: $medium;

      @include breakpoint('medium') {
        width: 50vw;
      }
    }
  }
}

// container overrides specific to page-title
.container--with-bg:has(.page-title) {
  margin-top: space(4);
}

.container:has(.page-title__image--large) {
  padding: 0 0 space(1.5);

  @include breakpoint('medium') {
    padding: 0;
  }

  .container__inner > .page-title__image--large {
    width: calc(50% + #{space(4)});
  }
}

.container__inner:has(.page-title) {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  @include breakpoint('medium') {
    flex-flow: row nowrap;
  }
}
