// - Color Palette Definitions : Use these via the `clr` function.
// - Colors can be defined using any valid color value. (name, hex, rgb, rgba, hsl, hsla)
// - Map structure should follow [theme_name] : [color_name] : [variant_name]
// - [variant_name] is optional.
// - If [variant_name] is present a 'base' definition is expected.
// - Themes and colors should not have matching names.
// - The default theme should contain all possible colors. Needed for fallback purposes.
// - Additional themes can override default theme definitions or fallback

$color-palette: (
  default: (
    primary: (
      base: #1a96ca,
      dark: #095a7d,
      bright: #32b9f1,
      light: #95b8c7,
    ),
    accent: (
      base: #ecd843,
      dark: #ceba23,
      bright: #ffe100,
      light: #f4e892,
    ),
    background: (
      base: #fff,
      inverse: #06425c,
    ),
    text: (
      base: #06425c,
      inverse: #fff,
    ),
    neutral: (
      base: #919292,
      warm: #ffeecdff,
      n50: #f3f3f3,
      n100: #d0d0d0,
      n200: #b1b1b1,
      n300: #919292,
      n400: #727273,
      n500: #535353,
      n600: #333434,
      n700: #18191bff,
    ),
    message: #117d62ff,
    warning: #ffeb0aff,
    error: #b91d42ff,
    full-white: #fff,
    full-black: #000,
  ),
);
